.discussion {
    // display: grid;
    // grid-template-areas: "image content" "plot plot";
    // grid-template-columns: 20% 80%;
    // grid-template-rows: auto auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    // margin-top: 40px;
    row-gap: 30px;
    margin-top: 390px;
    transition: margin-top ease-in-out .3s;

    @media screen and (max-width: 768px) {
        margin-top: 550px;
    }

    &::before {
        content: "";
        position: fixed;
        height: 390px;
        top: var(--top-buffer);
        left: 0;
        right: 0;
        background-color: var(--background);
        z-index: 1;
        border: none;
        box-shadow: none;
        backface-visibility: hidden;
        transform: translateZ(0);
        transition: height ease-in-out .3s;

    }

    .details-wrapper {
        position: fixed;
        display: grid;
        grid-template-areas: "image content-main"
                             "image content-sub";
        grid-template-columns: 20% 80%;
        grid-template-rows: auto auto;
        box-shadow: 0px 6px 10px 2px grey;
        border-radius: 20px;
        padding: 10px 50px 10px 10px;
        background-color: var(--background);
        z-index: 5;
        top: 100px;
        left: 0;
        right: 0;
        margin: 0 50px;
        transform: scale(1);
        transition: all ease-in-out .2s;
        max-height: 340px;

        @media screen and (max-width: 768px) {
            padding: 10px;
            grid-template-areas: "image content-main"
                                 "content-sub content-sub";
            grid-template-rows: 35% 60%;
            grid-template-columns: 30% 65%;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            max-height: 55%;
        }

        .image-wrapper {
            grid-area: image;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            
            img {
                aspect-ratio: 9 / 16;
                width: 100%;
                height: 100%;
                max-width: 200px;
                max-height: 320px;
            }
        }

        .content-wrapper-main {
            grid-area: content-main;

            .title {
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
        }

        .content-wrapper-sub {
            grid-area: content-sub;
            overflow-y: scroll;
            /* Hide scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
                display: none;
            }

            @media screen and (min-width: 768px) {
                max-height: 130px;
            }
        }
    
        .content-wrapper-main, .content-wrapper-sub {
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            h3 {
                color: var(--brand);
                font-size: 2.5rem;
                line-height: 2rem;
            }
    
            > p {
                display: flex;
                gap: 10px;
            }
    
            .title {
                min-width: 100px;
            }
    
            .rating-wrapper {
                height: 35px;
                display: flex;
                align-items: center;
                gap: 50px;
    
                > span:first-of-type {
                    transform: scale(1.5);
                    transform-origin: left;
                }
    
                > span:nth-of-type(2) {
                    font-size: 0.8rem;
                }

                @media screen and (max-width: 768px) {
                    flex-direction: row;
                    gap: 10px;

                    > span:first-of-type {
                        transform: scale(1);

                        .ratings {
                            margin-right: 0;
                        }
                    }
                }
            }
    
            .producer-wrapper, .production-wrapper, .cast-wrapper {
                display: flex;
                gap: 10px;
                ul {
                    list-style-type: none;
                    padding-left: 0;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                }
                a, ul li {
                    text-decoration: underline;
                    color: var(--brand);
                    
                }
            }

            @media screen and (max-width: 768px) {
                h3 {
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                }
            }
        }
    }


    .plot-wrapper {
        grid-area: plot;
        display: flex;
        flex-direction: column;
        gap: 8px;

        a {
            color: var(--brand);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.discussion.fixed-header {
    margin-top: 95px;
    transition: margin-top ease-in-out .3s;

    &::before {
        height: 70px;
        transition: height ease-in-out .3s;
    }

    .details-wrapper {
        top: 75px;
        left: 0;
        right: 0;
        margin: auto;
        transform: scale(0.5);
        transition: all ease-in-out .2s;
        display: flex;
        width: max-content;

        .image-wrapper {
            width: auto;

            img {
                width: 30%;
            }
        }

        .content-wrapper-main, .content-wrapper-sub {
            justify-content: center;

            > * {
                &:not(h3) {
                    display: none;
                }
            }
        }
    }
}