.sub-nav {
    position: fixed;
    top: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brand);
    padding: 10px 15px;
    width: 100%;
    // background: linear-gradient(90deg, transparent 20%, var(--background) 50%, transparent 80%);
    background-color: var(--brand-lighter);
    z-index: var(--head-zindex);

    ul {
        list-style: none;
        display: flex;
        gap: 8px;

        li {
            font-size: 12px;
            font-weight: bold;
            transition: all .15s ease-in-out;
            padding: 8px 4px;

            &:not(:is(ul>li:only-child)):hover {
                cursor: pointer;
                // font-size: 16px;
                transform: scale(1.4);
                transition: all .15s ease-in-out;
            }
        }

        &:has(li:hover) {
            li:not(:hover) {
                opacity: 0.2;
            }
        }
    }
}