.page:not(.landing) {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    padding: 80px;
    gap: 64px;
    font-family: var(--font-geist-sans);
    animation:
            circularFwd .5s linear .5s forwards,
            fontColor .2s linear .5s forwards,
            circularBwd .5s linear 1s forwards,
            fontColorB .2s linear 1s forwards,
            circularBwdReverse .5s linear 1.7s forwards;

    .logo {
        text-shadow: 0px 5px 5px rgba(0,0,0,0.3);
        animation: logo .5s linear 1.8s forwards;
    }

    &.slow-anim {
        animation:
            circularFwd 1s linear 0.5s forwards,
            fontColor 0.5s linear 0.5s forwards,
            circularBwd 1s linear 1.5s forwards,
            fontColorB 0.5s linear 1.5s forwards,
            circularBwdReverse 1s linear 3s forwards;

        .logo {
            animation: logo .8s linear 3.2s forwards;
        }
    }
}

@keyframes circular {
    @for $i from 0 through 50 {
        #{$i * 1%} {
            background: radial-gradient(circle, #600606 $i*2*1%, transparent 0%, transparent 100%);
        } 
    }
    @for $i from 51 through 100 {
        #{$i * 1%} {
            background: radial-gradient(circle, white (($i*2)-100)*1%, #600606 0%, #600606 100%);
        } 
    }
}

@keyframes circularFwd {
    @for $i from 0 through 100 {
        #{$i * 1%} {
            background: radial-gradient(circle, #600606 $i*1%, white 0%, white 100%);
        } 
    }
}
@keyframes circularBwd {
    @for $i from 0 through 100 {
        #{$i * 1%} {
            background: radial-gradient(circle, white $i*1%, #600606 0%, #600606 100%);
        } 
    }
}
@keyframes circularBwdReverse {
    @for $i from 0 through 80 {
        #{$i * 1%} {
            background: radial-gradient(circle, white (100-$i)*1%, #600606 0%, #600606 100%);
        } 
    }
    to {background: radial-gradient(circle, white 20%, #600606 0%, #600606 100%);}
}
@keyframes fontColor {
    from { color: black; }
    to { color: white; }
}

@keyframes fontColorB {
    from { color: white; }
    to { color: black; }
}

@keyframes logo {
    0% { 
        transform: scale(1);
    }
    70% {
        transform: scale(0.5);
    }
    80% {
        transform: scale(1.3);
    }
    90% { 
        transform: scale(1);
    }
    95% { 
        transform: scale(1.1);
    }
    100% { 
        transform: scale(1);
    }
}