:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand: #600606;
  --brand-light: #dc6161;
  --brand-lighter: #fcc5c5; //#ff9f9f;
  --header-height: 48px;
  --sub-nav-height: 35px;
  --top-buffer: 80px;
  --head-zindex: 5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    // --background: #ededed;
    --foreground: #0a0a0a;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}