.page.landing {
    --image: url(/wall.jpg);

    display: grid;
    // grid-template-rows: 20px 1fr 20px;
    grid-template-rows: 1fr;
    width: 100%;
    align-items: start;
    justify-items: center;
    min-height: 100svh;
    padding: 0 80px 40px;
    gap: 32px;
    font-family: var(--font-geist-sans);
    margin-top: var(--top-buffer);

    @media screen and (max-width: 768px) {
        padding: 0 20px 20px;
    }

    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: -5%;
        width: 110%;
        height: 110%;
        background-image: var(--image); /* Replace with your image URL */
        background-size: cover;
        z-index: -2;
        background-position-y: 0%;
        background-blend-mode: multiply;
        background-attachment: fixed;
    }

    &::after {
        content: '';
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        backdrop-filter: blur(2px);
        z-index: -1;
        background-color: var(--background);
    }
    &.static, &.animate {
        &::after {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }

    &.static {
        &::before {
            background-repeat: repeat;
            background-position-x: 0%;
            background-size: 99%;
            margin-top: calc(var(--top-buffer) + 2px);
            animation: staticBG 1000s linear infinite, opaci 1s linear forwards;

            @media screen and (max-width: 768px) {
                background-size: 500%;
                animation: staticBG 100000s linear infinite, opaci 1s linear forwards;
            }
        }
    }

    &.animate {
        &::before {
            animation: BG 240s linear infinite, opac 1s linear forwards;
        }
    }
}

@keyframes BG {
    from { background-position-y: 0%; }
    to { background-position-y: 600%; }
}

@keyframes staticBG {
    from { background-position-x: 0%; }
    to { background-position-x: 60000%; }
}

@keyframes opac {
    from { opacity: 0.1; }
    to { opacity: 1; }
}

@keyframes opaci {
    from { filter: opacity(0.1); }
    to { filter: opacity(1); }
}